<div class="container bg-white">
<h1>Articles#edit</h1>
<p>Find me in app/views/articles/edit.html.erb</p>
  <%= form_with(model: @article, local: true) do |f| %>
    <%= f.label :body %>
    <%= f.rich_text_area :body %>

    <%= f.submit class:"btn btn-outline-primary" %>
  <%end%>
</div>